.grid
{
    display: flex;
    flex-direction: row;
}
.col1
{
background-color: rgb(228, 196, 158);
width: 50px;

}
.col2
{
    background-color: rgb(191, 148, 231);
    flex: 1;
}
.col3
{
    background-color: rgb(116, 216, 216);
    width: 50px;
}