.grid
{
    .grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}
.cat
{
    width: 120px;
    height: 150px;
    object-fit: cover;
    padding-left: 10px;
}
.oli{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0px;
}
.frd
{
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.add
{
    background-color: rgb(24, 119, 242);
    font-size: 16px;
    border: none;
    color: white;
    height: 30px;
    width: 110px;
    margin-left:  10px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.profile1
{
    width: 150px;
    margin-left: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.dog
{
    width: 120px;
    height: 150px;
    object-fit: cover;
    padding-left: 10px;
}
.juli{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0px;
}
.frd
{
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.add
{
    background-color: rgb(24, 119, 242);
    font-size: 16px;
    border: none;
    color: white;
    height: 30px;
    width: 110px;
    margin-left:  10px;
    margin-top: 8px;
    margin-bottom: 10px;
}


.profile2
{
    width: 150px;
    margin-left: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.doneky
{
    width: 120px;
    height: 150px;
    object-fit: cover;
    padding-left: 10px;
}
.ajju{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0px;
}
.frd
{
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.add
{
    background-color: rgb(24, 119, 242);
    font-size: 16px;
    border: none;
    color: white;
    height: 30px;
    width: 110px;
    margin-left:  10px;
    margin-top: 8px;
    margin-bottom: 10px;
}